* text=auto eol=lf

.editorconfig export-ignore
.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore
.gitmessage export-ignore
.gub export-ignore
.php-cs-fixer.php export-ignore
bin/application-version export-ignore
bin/release-version export-ignore
CHANGELOG.md export-ignore
CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
LICENSE.md export-ignore
phpstan.neon.dist export-ignore
phpunit.xml.dist export-ignore
README.md export-ignore
tests/ export-ignore
